<!-- <div class="container" id="card_order">
  <div>
    <h3>Your order has been accepted!</h3>
    </div>
        <div id="details">
          <p><strong>Sender: </strong><%= @request.user.username %></p>
          <p><strong>Origin: </strong> <%= @request.origin %></p>
          <p><strong>Destination: </strong> <%= @request.destination %></p>
          <p><strong>Arriving date:</strong> <%= @request.delivery_date.strftime("%d/%m/%y") %></p>
        </div>
        <div id="you_paid">
         <h4><strong>Price R$:</strong><%=@request.price%></h4>
        </div>
        <div id="button_order">
          <%=# link_to "Back to Homepage", root_path, :class => "btn btn-success" %>
        </div>
    </div>

</div> -->
