<div id="pop-map">
<img class="card-user avatar avatar" src="<%= request.user.avatar %>">
<p><%= request.user.first_name %> <%= request.user.last_name %></p>
</div>
<p><%= request.origin %></p>
<p>R$ <%= request.price %></p>


