

<!-- <h4>Bringer details</h4>
  <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
  <p><%= @request.user.username %></p>
  <p>Reviews</p>
  <%= if @user_id.review.any? %>
    <p><%= @user_id.review each do |review|%>
    <p><%= @user_id.review.content %></p>
    <p><%= end %></p>
  <%= else %>
    <p>No comments yet.</p>
  <%= end %> -->
<!-- <p>Size of the item: <%=@request.capacity%></p> -->
