
<p><%= link_to 'Back to Homepage', "/" %></p>

<div class="card-container">
  <% if @requests.any? %>
  <div class="row">
    <% @requests.each do |request|  %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
         <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
         <h3>Request title</h3>
        <div class="card_test" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://picsum.photos/200/300?random');">
        </div>
        <div class="card-description">

            <p>R$ <%= request.price %></p>
            <p>Size: <%= request.size %></p>
            <p>Origin: <%= request.origin %></p>
            <p>Destination: <%= request.destination %> at <%= request.delivery_date_time.strftime("%d/%m/%y")%> </p>
        </div>
        <a class="card-link" href=<%= request_path(request) %> ></a>
      </div>
    </div>
    <% end %>
  </div>
  <% else %>
  <h1>No requests found. Try again.</h1>
  <% end %>
</div>

