  <h1>Request result</h1>
  <% if @requests.any? %>
    <% @requests.each do |request|  %>
      <p>R$ <%= request.price %></p>
      <p>Origem: <%= request.origin %></p>
      <p>Destino: <%= request.destination %> at <%= request.delivery_date_time.strftime("%d/%m/%y")%></p>
    <!--   <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"> -->
      <a class="card-link" href=<%= request_path(request) %> ></a>
    <% end %>
  <% else %>
    <h2>No requests found. Try again.</h2>
  <% end %>

  <p><%= link_to 'Back to Homepage', "/" %></p>
