<div class="container">
  <h4>Request Details</h4>
    <p>Origin: <%= @request.origin %></p>
    <p>Destination: <%= @request.destination %></p>
    <p>Arriving date: <%= @request.delivery_date.strftime("%d/%m/%y") %></p>
    <p>Price: R$<%=@request.price%></p>
    <p>Comment: <%=@request.comment%></p>
    <%= cl_image_tag @request.image, height: 300, width: 400, crop: :fill %>
    <%= link_to "Book it", request_bookings_path(:request_id => @request.id), :method => :post,  :class => "btn btn-danger", :id => "sweet-alert-booking-confirmation" %>
</div>

