<div class="container">
  <h4>Request Details</h4>
    <p>Origin: <%= @request.origin %></p>
    <p>Destination: <%= @request.destination %></p>
    <p>Arriving date: <%= @request.delivery_date.strftime("%d/%m/%y") %></p>
    <p>Price: R$<%=@request.price%></p>
    <p>Comment: <%=@request.comment%></p>
    <%= cl_image_tag @request.image, height: 300, width: 400, crop: :fill %>
    <%= link_to "Edit", edit_request_path(:request => request), :method => :get,  :class => "btn btn-danger" %>
    <%= link_to "Delete", request_path(:request => request), :method => :delete,  :class => "btn btn-danger" %>
</div>

<%#= render "shared/card" %>
