<div class="container">

  <h3 style="text-align: center; margin-bottom: 30px; margin-top: 15px;"><strong>Your request will look like this in our page</strong></h3>

  <div class="card-show-description">
    <p>Card Front</p>
    <p>Card Back</p>
  </div>

  <div  class="card-show-main-container">
   <div class="card-show-container">


      <div class="front card-show">
        <div class="card-body-front">

          <div class="card-picture" style="background: url(<%= @request.image %>);">
            <%= cl_image_tag @request.user.avatar, class:"card-user avatar avatar-large" %>
          </div>
          <p class="card-size-flex"><strong><%= @request.size%></strong></p>
          <div class="card-description-flex">
            <p><i class="fas fa-map-marker-alt"></i> <%= @request.origin[0..30]+'...'%></p>
            <h2>R$ <%= @request.price %></h2>
          </div>
          <div class="card-description-flex">
            <p><i class="fas fa-map-marker-alt"></i> <%= @request.destination[0..30]+'...'%></p>
            <p><i class="far fa-calendar-alt"></i> <%= @request.delivery_date.strftime("%d/%m/%y")%></p>
          </div>

        </div>
      </div>

      <div class="back card-show">
        <div class="card-body-back">

          <div class="card-description-flex">
            <h5><%= @request.user.first_name %> <%= @request.user.last_name %></h5>
            <p><i class="far fa-calendar-alt"></i> <%= @request.delivery_date.strftime("%d/%m/%y")%></p>
          </div>
          <div class="card-comment-flex">
            <p><strong>"<%= @request.comment %>"</strong></p>
          </div>
          <div class="card-description-flex">
            <p><strong>Origin: </strong></i> <%= @request.origin %></p>
          </div>
          <div class="card-description-flex">
            <p><strong>Destination: </strong></i> <%= @request.destination %></p>
          </div>

        </div>
      </div>

  </div>


  </div>

  <div style="margin-top: 30px;">
  <div class="btn-show">
    <%= link_to "Edit", edit_request_path(:request => @request), :method => :get,  :class => "btn btn-info" %>
    <%= link_to "Delete", request_path(:request => @request), :method => :delete,  :class => "btn btn-danger"%>
    <%= link_to "Confirm", my_requests_path, :method => :get,  :class => "btn btn-success"%>
  </div>
  </div>



</div>

<br>
<br>
