  <div class="home-banner">

    <div id="title">
      <p>indo pra algum lugar ?</p>
    </div>
    <div id="subtitle">
      <p>Ganhe dinheiro com suas viagens</p>

      <div class="button">
        <button type="button" class="btn btn-primary btn-lg">Entrar</button>
      </div>

    </div>
  </div>

  <%= form_tag requests_path, method: :get, class: 'form-inline' do %>

  <%= date_field_tag :query_delivery_date, "", :required => false, class: "form-control",
  placeholder: "What date do you need your item to be delivered?"
  %>

  <%= text_field_tag :query_origin, params[:query_origin], :required => true, class: "form-control",
  placeholder: "What city is your item located?"
  %>

  <%= text_field_tag :query_destination, params[:query_destination], :required => true, class: "form-control", placeholder: "What is the destination city?"
  %>

  <%= submit_tag "Find delivery requests", class: "btn btn-primary" %>

  <% end %>


  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
      </div>
    </div>
  </div>
