  <div class="home-banner">

    <div id="title">
      <p>Travelling somewhere?</p>
    </div>
    <div id="subtitle">
      <p>Make money with your trips</p>
    </div>

    <!-- <div id="home-search"> -->
      <%= form_tag root_path, method: :get, class: 'form-inline' do %>
<!--       datepicker -begin ---- -->
      <%= text_field :query_delivery_date, "", :required => false, class: "form-control",
      placeholder: "Delivery date",
    data: {
      flatpickr_format: "Y-m-d",
      flatpickr_min_date: Time.zone.now
    } %>
<!--       datepicker - end ---- -->
      <%= text_field_tag :query_origin, params[:query_origin], :required => true, class: "form-control", placeholder: "From"%>
      <%= text_field_tag :query_destination, params[:query_destination], :required => true, class: "form-control", placeholder: "To"%>
      <%= submit_tag "Find delivery requests", class: "btn btn-primary" %>
      <% end %>
    <!-- </div> -->

  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%#= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
      </div>
    </div>
  </div>
