<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta property="og:title" content="Levitraz| A faster delivery and a way to make money during your travel">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://www.levitraz.com/">
<!--   <meta property="og:image" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg"> -->
  <meta property="og:description" content="Lev&traz connect a sender who need a faster delivery and a binger who want to make money.">
  <meta property="og:site_name" content="Lev&traz">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<!-- favicon settings -->
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">



  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

  <title>Lev&traz</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
  <% # if action_name == "home" %>
  <%= render 'shared/navbar' %>
  <% #else %>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <% #end %>
  <%= yield %>
  <% #unless action_name == "home" %>
  <%= render 'shared/footer' %>
  <% # end %>
  <%= javascript_include_tag 'application'%>
  <%= javascript_pack_tag 'application'%>
  <%= javascript_pack_tag 'maps'%>

</body>

</html>

